@charset "utf-8";
/* CSS Document */
#gasto{
	text-align:center;	
}
#gasto h1{
	color:#00c6d7;
}
#gasto input{
	width:100%;
	max-width:300px;	
}
#gasto #campos{
	width:100%;
	max-width:300px;
	margin:0 auto;
	text-align:center;
}
#gasto #progreso{
	width:100%;
	max-width:500px;
	margin:50px auto;
	text-align:left;
}