@charset "utf-8";
/* CSS Document */
#ingreso{
	text-align:center;	
}
#ingreso h1{
	color:#00c6d7;
}
#ingreso input{
	width:100%;
	max-width:300px;	
}
#ingreso #campos{
	width:100%;
	max-width:300px;
	margin:0 auto;
	text-align:center;
}
#ingreso #progreso{
	width:100%;
	max-width:500px;
	margin:50px auto;
	text-align:left;
}