<!DOCTYPE html>
<HTML LANG="ES">
<HEAD>
   <TITLE>Pagina de Lindavista con formulario de busqueda de vivienda</TITLE>
   <META HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=utf-8">
   <link rel="stylesheet" href="{{url_for('static' , filename='css/estilo.css' )}}" >

</HEAD>

<BODY>

<!-- Rotulo de cabecera -->
<IMG SRC="{{url_for('static' , filename='img/lindavis.gif')}}">
<H1>Inmobiliaria Lindavista</H1>

<HR>

<!-- Formulario de búsqueda de vivienda -->
<H2>Busqueda de vivienda</H2>
<P>Ayudenos a encontrar la vivienda que mejor se ajusta a sus necesidades. Por
favor, rellene cuidadosamente el siguiente formulario.</P>

<FORM ACTION="http://www.lsi.us.es/cursos/cursophp/dihm/busca_vivienda.php" METHOD="post" NAME="buscador"
 ONSUBMIT="return(compruebaFormulario())">

<!-- Datos personales -->
<FIELDSET>
<LEGEND>Datos personales</LEGEND>
<P><LABEL CLASS="importante">Nombre</LABEL>
<INPUT TYPE="text" NAME="nombre" SIZE="35" MAXLENGTH="35">
</P>

<P><LABEL>Edad</LABEL>
<INPUT TYPE="radio" NAME="edad" VALUE="1">menos de 20
<INPUT TYPE="radio" NAME="edad" VALUE="21">de 21 a 30
<INPUT TYPE="radio" NAME="edad" VALUE="31">de 31 a 40
<INPUT TYPE="radio" NAME="edad" VALUE="41">mas de 40
</P>

<P><LABEL>Profesión</LABEL>
<SELECT NAME="profesion">
   <OPTION VALUE="seleccione" SELECTED></OPTION>
   <OPTION VALUE="Funcionario">Funcionario</OPTION>
   <OPTION VALUE="Profesión liberal">Profesión liberal</OPTION>
   <OPTION VALUE="Empresario">Empresario</OPTION>
   <OPTION VALUE="Artista">Artista</OPTION>
   <OPTION VALUE="Deportista">Deportista</OPTION>
</SELECT>
</P>

</FIELDSET>

<!-- Datos de la vivienda buscada -->
<FIELDSET>
<LEGEND>Datos de la vivienda buscada</LEGEND>

<P><LABEL>Dormitorios</LABEL>
<INPUT TYPE="radio" NAME="ndormitorios" VALUE="1">1
<INPUT TYPE="radio" NAME="ndormitorios" VALUE="2">2
<INPUT TYPE="radio" NAME="ndormitorios" VALUE="3">3
<INPUT TYPE="radio" NAME="ndormitorios" VALUE="4">4
<INPUT TYPE="radio" NAME="ndormitorios" VALUE="5">5
</P>

<P><LABEL CLASS="importante">Tipo</LABEL>
<SELECT NAME="tipo">
   <OPTION VALUE="seleccione" SELECTED>Seleccione un tipo:</OPTION>
   <OPTION VALUE="Piso">Piso</OPTION>
   <OPTION VALUE="Adosado">Adosado</OPTION>
   <OPTION VALUE="Chalet">Chalet</OPTION>
   <OPTION VALUE="Casa">Casa</OPTION>
</SELECT>
</P>

<P><LABEL CLASS="importante">Precio ()</LABEL>
<INPUT TYPE="radio" NAME="precio" VALUE="000100">&lt; 100.000
<INPUT TYPE="radio" NAME="precio" VALUE="100200">100.000-200.000
<INPUT TYPE="radio" NAME="precio" VALUE="200300">200.000-300.000
<INPUT TYPE="radio" NAME="precio" VALUE="300900">&gt; 300.000
</P>

<P><LABEL>Zona</LABEL>
<SELECT MULTIPLE NAME="zona">
   <OPTION VALUE="seleccione" SELECTED>Seleccione una o mas zonas:</OPTION>
   <OPTION VALUE="Centro">Centro</OPTION>
   <OPTION VALUE="Nervion">Nervión</OPTION>
   <OPTION VALUE="Triana">Triana</OPTION>
   <OPTION VALUE="Aljarafe">Aljarafe</OPTION>
   <OPTION VALUE="Macarena">Macarena</OPTION>
</SELECT>
</P>

<P><LABEL>Extras</LABEL>
<INPUT TYPE="checkbox" NAME="extras[]" VALUE="Piscina">Piscina
<INPUT TYPE="checkbox" NAME="extras[]" VALUE="Jardín">Jardín
<INPUT TYPE="checkbox" NAME="extras[]" VALUE="Garaje">Garaje
<INPUT TYPE="checkbox" NAME="extras[]" VALUE="Sauna">Sauna
</P>

</FIELDSET>

<!-- Inclusión en base de datos -->
<P><INPUT TYPE="checkbox" CHECKED NAME="incluir">Deseo recibir información acerca
de futuras promociones de Inmobiliaria Lindavista.</P>

<INPUT TYPE="submit" NAME="enviar" VALUE="Enviar formulario">
<INPUT TYPE="reset" NAME="borrar" VALUE="Borrar formulario">

</FORM>
<!-- Fin del formulario de búsqueda de vivienda -->

<HR>

<!-- Direccion -->
<ADDRESS>
Inmobiliaria Lindavista<BR>
Construimos un mundo mejor para usted
</ADDRESS>

</BODY>
</HTML>