<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>TITLE</h1>
<form action="/signup" method="post">
    <input type="text" name="user" placeholder="username">
    <input type="text" name="password" placeholder="password">
    <input type="text" name="email" placeholder="email">
    <input type="text" name="apellido" placeholder="apellido">
    <input type="date" name="fechanacimiento" placeholder="fechanacimiento">
    <input type="submit">
</form>
</body>
</html>